.taskli {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.taskContainer .checkbox {
  width: 24px;
  height: 24px;
}

.taskContainer .form {
  display: flex;
  flex: 1;

  padding: 0;
  border: 2px solid #2f80ed;
  border-radius: 4px;
  margin: 13px 0;
}

.taskContainer .input {
  display: flex;
  flex: 1;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  margin: 0;
  padding: 0 10px;
  border: 2px solid #2f80ed;
  border-radius: 4px;
  border: none;
  /* margin: 0 12px; */
}

.taskContainer .taskTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 12px;
}

.taskli img {
  max-width: 24px;
  max-height: 24px;
  margin: 12px;
  filter: invert(9%) sepia(0%) saturate(4673%) hue-rotate(142deg)
    brightness(107%) contrast(73%);
}

.taskli img:hover {
  cursor: pointer;
  filter: invert(41%) sepia(96%) saturate(1544%) hue-rotate(197deg)
    brightness(93%) contrast(99%);
}
